In [1]:
import pandas as pd
import numpy as np
import random
import copy 
scommesse = pd.read_csv("Tappa 21.csv")
vincitore = pd.read_csv("tappa21.csv")[['Corridore']]

In [3]:
#scommesse.iloc[[0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14], 3] = 'CHAVES Esteban'
scommesse = scommesse.drop([  2 ])
scommesse
#vincitore

,Informazioni cronologiche,Concorrente,Jolly,Corridore vincente,Secondo corridore vincente in caso di Jolly B
0,2019/06/02 1:09:38 PM EET,Nico,A,CAMPENAERTS Victor,NaN
1,2019/06/02 1:27:42 PM EET,Pozzo,A,CAMPENAERTS Victor,NaN
3,2019/06/03 9:09:58 AM EET,Bassa,A,CAMPENAERTS Victor,NaN
4,2019/06/03 9:10:44 AM EET,Max,B,CAMPENAERTS Victor,ROGLIC Primoz
5,2019/06/03 9:11:13 AM EET,Marco,B,ROGLIC Primoz,CAMPENAERTS Victor
6,2019/06/03 9:11:52 AM EET,Palu,NaN,CAMPENAERTS Victor,NaN
7,2019/06/03 9:12:56 AM EET,Ago,A,CAMPENAERTS Victor,NaN
8,2019/06/03 9:13:24 AM EET,Coda,NaN,CAMPENAERTS Victor,NaN
9,2019/06/03 9:13:54 AM EET,Gabriele,A,CAMPENAERTS Victor,NaN
10,2019/06/03 9:14:49 AM EET,Sheva,A,CAMPENAERTS Victor,NaN
11,2019/06/03 9:15:19 AM EET,Sticcio,A,ROGLIC Primoz,NaN
12,2019/06/03 9:15:43 AM EET,Tia,A,CAMPENAERTS Victor,NaN
13,2019/06/03 9:16:09 AM EET,Tina,B,CAMPENAERTS Victor,ROGLIC Primoz
14,2019/06/03 9:16:58 AM EET,Polli,A,CAMPENAERTS Victor,NaN

In [24]:
#scommesse.iloc[3, 2] = float('NaN')
#scommesse.iloc[6, 4] = float('NaN')
#scommesse

,Informazioni cronologiche,Concorrente,Jolly,Corridore vincente,Secondo corridore vincente in caso di Jolly B
0,2019/05/31 2:20:56 PM EET,Marco,NaN,CHAVES Esteban,NaN
2,2019/05/31 2:25:50 PM EET,Ago,NaN,CHAVES Esteban,NaN
3,2019/05/31 2:40:48 PM EET,Pozzo,NaN,CHAVES Esteban,NaN
4,2019/05/31 2:48:42 PM EET,Polli,NaN,CHAVES Esteban,NaN
5,2019/05/31 2:52:23 PM EET,Gabriele,NaN,CHAVES Esteban,NaN
6,2019/05/31 2:55:12 PM EET,Nico,NaN,CHAVES Esteban,NaN
7,2019/05/31 11:24:25 PM EET,Palu,NaN,CHAVES Esteban,NaN
8,2019/06/01 9:24:58 AM EET,Coda,NaN,LANDA MEANA Mikel,NaN
9,2019/06/01 9:25:12 AM EET,Tia,NaN,CARTHY Hugh John,NaN
10,2019/06/01 9:26:02 AM EET,Bassa,NaN,CHAVES Esteban,NaN
11,2019/06/01 9:26:13 AM EET,Max,NaN,CHAVES Esteban,NaN
12,2019/06/01 9:26:24 AM EET,Sheva,NaN,CHAVES Esteban,NaN
13,2019/06/01 9:26:39 AM EET,Sticcio,NaN,CHAVES Esteban,NaN
14,2019/06/01 9:26:49 AM EET,Tina,NaN,CHAVES Esteban,NaN

In [4]:
scommesse.columns = ['Tempo', 'Concorrente', 'Jolly', 'Scelta', 'Secondascelta']
scommesse = scommesse.sort_values(by=['Concorrente'])
punt = [0] * 14
scommesse['Punteggio'] = punt

Ap = scommesse.Scelta[scommesse['Secondascelta'].isnull() == False]
Bp = scommesse.Secondascelta[scommesse['Secondascelta'].isnull() == False]
A = list(Ap)
B = list(Bp)
indiA = [0] *len(A)
indiB = [0] *len(A)
for k in range(len(A)):
    indiA[k] = [i for i,x in enumerate(vincitore.Corridore) if x == A[k]][0]
    indiB[k] = [i for i,x in enumerate(vincitore.Corridore) if x == B[k]][0]

boh = pd.Series(indiA) > pd.Series(indiB)
Ap[list(boh)] = Bp[list(boh)]
scommesse.Scelta[scommesse['Secondascelta'].isnull() == False] = Ap
ordine = vincitore.isin(list(scommesse.Scelta))
primo = np.where(ordine)[0][0]
scom_giusta = vincitore.iloc[primo][0]

if primo == 0:
        scommesse.Punteggio[scommesse.Scelta == scom_giusta] = 1
else:
        scommesse.Punteggio[scommesse.Scelta == scom_giusta] = 0.5

scommesse.Punteggio[scommesse.Jolly.isin(['A'])] = scommesse.Punteggio[scommesse.Jolly.isin(['A'])] * 2
F = 1
if F == 1:
    scommesse.Punteggio[scommesse.Jolly.isin(['F'])] = 0.5 

scommesse

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Tempo,Concorrente,Jolly,Scelta,Secondascelta,Punteggio
7,2019/06/03 9:12:56 AM EET,Ago,A,CAMPENAERTS Victor,NaN,1.0
3,2019/06/03 9:09:58 AM EET,Bassa,A,CAMPENAERTS Victor,NaN,1.0
8,2019/06/03 9:13:24 AM EET,Coda,NaN,CAMPENAERTS Victor,NaN,0.5
9,2019/06/03 9:13:54 AM EET,Gabriele,A,CAMPENAERTS Victor,NaN,1.0
5,2019/06/03 9:11:13 AM EET,Marco,B,CAMPENAERTS Victor,CAMPENAERTS Victor,0.5
4,2019/06/03 9:10:44 AM EET,Max,B,CAMPENAERTS Victor,ROGLIC Primoz,0.5
0,2019/06/02 1:09:38 PM EET,Nico,A,CAMPENAERTS Victor,NaN,1.0
6,2019/06/03 9:11:52 AM EET,Palu,NaN,CAMPENAERTS Victor,NaN,0.5
14,2019/06/03 9:16:58 AM EET,Polli,A,CAMPENAERTS Victor,NaN,1.0
1,2019/06/02 1:27:42 PM EET,Pozzo,A,CAMPENAERTS Victor,NaN,1.0
10,2019/06/03 9:14:49 AM EET,Sheva,A,CAMPENAERTS Victor,NaN,1.0
11,2019/06/03 9:15:19 AM EET,Sticcio,A,ROGLIC Primoz,NaN,0.0
12,2019/06/03 9:15:43 AM EET,Tia,A,CAMPENAERTS Victor,NaN,1.0
13,2019/06/03 9:16:09 AM EET,Tina,B,CAMPENAERTS Victor,ROGLIC Primoz,0.5

In [5]:
Punti = pd.read_csv('Punteggio.csv', index_col=0)
Punti.to_csv(r'C:\Users\banab\Desktop\Giro\sicurezza\Punteggio.csv')
Punti.loc['Tappa 21'] = list(scommesse.Punteggio) + Punti.loc['Tappa 20']

Jolly = pd.read_csv('Jolly.csv', index_col=0)
Jolly.to_csv(r'C:\Users\banab\Desktop\Giro\sicurezza\Jolly.csv')
Jolly.loc['Jolly A', (Jolly.loc['Jolly A'])[list(scommesse.Jolly.isin(['A']))].index] = Jolly.loc['Jolly A', (Jolly.loc['Jolly A'])[list(scommesse.Jolly.isin(['A']))].index] - 1
Jolly.loc['Jolly B', (Jolly.loc['Jolly B'])[list(scommesse.Jolly.isin(['B']))].index] = Jolly.loc['Jolly B', (Jolly.loc['Jolly B'])[list(scommesse.Jolly.isin(['B']))].index] - 1
Jolly.loc['Jolly F', (Jolly.loc['Jolly F'])[list(scommesse.Jolly.isin(['F']))].index] = Jolly.loc['Jolly F', (Jolly.loc['Jolly F'])[list(scommesse.Jolly.isin(['F']))].index] - 1

In [4]:
#(Jolly.loc['Jolly A'])[list(scommesse.Jolly.isin(['A']))] = list((Jolly.loc['Jolly A'])[list(scommesse.Jolly.isin(['A']))].subtract(1))
#(Jolly.loc['Jolly B'])[list(scommesse.Jolly.isin(['B']))] = list((Jolly.loc['Jolly B'])[list(scommesse.Jolly.isin(['B']))].subtract(1))
#(Jolly.loc['Jolly F'])[list(scommesse.Jolly.isin(['F']))] = list((Jolly.loc['Jolly F'])[list(scommesse.Jolly.isin(['F']))].subtract(1))

In [7]:
Punti
#Jolly

,Ago,Bassa,Coda,Gabriele,Marco,Max,Nico,Palu,Polli,Pozzo,Sheva,Sticcio,Tia,Tina
Tappa 1,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.0
Tappa 2,1.5,1.0,1.5,0.5,0.0,1.0,1.0,2.5,1.5,1.5,1.0,1.5,1.0,0.0
Tappa 3,1.5,1.0,1.5,0.5,1.0,1.0,2.0,2.5,1.5,1.5,1.0,1.5,1.0,0.0
Tappa 4,1.5,1.5,1.5,0.5,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,0.0
Tappa 5,1.5,1.5,1.5,0.5,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.0
Tappa 6,1.5,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 7,2.0,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 8,3.0,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 9,5.5,4.0,4.5,3.5,3.5,3.0,5.0,4.5,4.0,4.5,3.5,4.0,1.0,4.0
Tappa 10,6.0,4.5,5.0,4.0,4.0,3.0,5.5,4.5,4.5,4.5,4.0,4.5,2.0,4.5
Tappa 11,6.0,4.5,5.0,4.0,4.0,3.0,6.0,5.0,4.5,4.5,4.0,4.5,2.5,4.5
Tappa 12,6.5,4.5,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,2.5,4.5
Tappa 13,6.5,5.0,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,3.0,4.5
Tappa 14,6.5,6.0,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,3.0,4.5
Tappa 15,6.5,7.0,5.0,4.5,5.0,3.0,6.5,6.5,4.5,5.0,4.5,5.0,3.5,4.5
Tappa 16,7.0,7.0,5.5,4.5,5.5,3.5,7.0,7.0,5.0,5.5,5.0,5.0,4.0,5.0
Tappa 17,7.5,7.0,6.0,4.5,5.5,3.5,7.0,7.5,5.5,5.5,5.5,5.5,4.0,5.0
Tappa 18,8.0,7.5,6.0,5.0,6.0,4.5,7.5,7.5,5.5,5.5,6.0,5.5,4.5,6.0
Tappa 19,9.0,8.5,6.0,6.0,7.0,5.5,8.5,8.5,6.5,6.5,7.0,6.5,4.5,7.0
Tappa 20,9.0,9.0,6.5,6.5,8.0,5.5,9.0,9.0,6.5,7.0,7.0,6.5,4.5,7.0
Tappa 21,10.0,10.0,7.0,7.5,8.5,6.0,10.0,9.5,7.5,8.0,8.0,6.5,5.5,7.5

In [9]:
Punti.to_csv('Punteggio.csv')
Jolly.to_csv('Jolly.csv')

In [59]:
#Marco, tia, gabriele, Bassa, 1,3,4,12
#Punti.loc['Tappa 15'] = Punti.loc['Tappa 15'] + [0, 0.5,0, 0.5,0.5,0,0,0,0,0,0,0, 0.5, 0]

In [61]:
Punti

,Ago,Bassa,Coda,Gabriele,Marco,Max,Nico,Palu,Polli,Pozzo,Sheva,Sticcio,Tia,Tina
Tappa 1,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.0
Tappa 2,1.5,1.0,1.5,0.5,0.0,1.0,1.0,2.5,1.5,1.5,1.0,1.5,1.0,0.0
Tappa 3,1.5,1.0,1.5,0.5,1.0,1.0,2.0,2.5,1.5,1.5,1.0,1.5,1.0,0.0
Tappa 4,1.5,1.5,1.5,0.5,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,0.0
Tappa 5,1.5,1.5,1.5,0.5,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.0
Tappa 6,1.5,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 7,2.0,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 8,3.0,1.5,2.0,1.0,1.0,1.0,2.5,2.5,1.5,2.0,1.5,1.5,1.0,1.5
Tappa 9,5.5,4.0,4.5,3.5,3.5,3.0,5.0,4.5,4.0,4.5,3.5,4.0,1.0,4.0
Tappa 10,6.0,4.5,5.0,4.0,4.0,3.0,5.5,4.5,4.5,4.5,4.0,4.5,2.0,4.5
Tappa 11,6.0,4.5,5.0,4.0,4.0,3.0,6.0,5.0,4.5,4.5,4.0,4.5,2.5,4.5
Tappa 12,6.5,4.5,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,2.5,4.5
Tappa 13,6.5,5.0,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,3.0,4.5
Tappa 14,6.5,6.0,5.0,4.0,4.5,3.0,6.5,5.5,4.5,5.0,4.5,5.0,3.0,4.5
Tappa 15,6.5,7.0,5.0,4.5,5.0,3.0,6.5,6.5,4.5,5.0,4.5,5.0,3.5,4.5
Tappa 16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tappa 17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tappa 18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tappa 19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tappa 20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tappa 21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
Punti = pd.read_csv('Punteggio.csv', index_col=0)
Jolly = pd.read_csv('Jolly.csv', index_col=0)
Punti.to_html('Classifica.html')
Jolly.to_html('Jolly.html')

In [11]:
Punti = pd.read_csv('Punteggio.csv', index_col=0)
fancla = Punti.loc['Tappa 21']
fancla = fancla.sort_values(ascending=False)
fancla = pd.DataFrame(fancla)
fancla.columns = ['Classifica Fanta']
fancla.to_html('fancla.html')
fancla

          Classifica Fanta
Nico                  10.0
Bassa                 10.0
Ago                   10.0
Palu                   9.5
Marco                  8.5
Sheva                  8.0
Pozzo                  8.0
Tina                   7.5
Polli                  7.5
Gabriele               7.5
Coda                   7.0
Sticcio                6.5
Max                    6.0
Tia                    5.5

In [12]:
addcla = [4, 5, 5, 3, 4, 6, 7, 5, 6, 5, 6, 5, 2, 4]

In [15]:
fancla.iloc[:, 0] = fancla.iloc[:, 0] + addcla

In [18]:
fancla = fancla.sort_values(ascending=False, by = 'Classifica Fanta')

In [19]:
fancla

          Classifica Fanta
Bassa                 15.0
Ago                   15.0
Pozzo                 15.0
Nico                  14.0
Sheva                 14.0
Polli                 13.5
Coda                  13.0
Palu                  12.5
Marco                 12.5
Tina                  12.5
Gabriele              12.5
Sticcio               11.5
Tia                    9.5
Max                    8.0